<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <h1>Lista de Hábitos API test</h1>
        <ul>
            <li><a href="#/api-test-get">Get</a> </li>
            <li><a href="#/api-test-post">Post</a></li>
            <li><a href="#/api-test-put">Put</a></li>
            <li><a href="#/api-test-delete">Delete</a></li>
        </ul>
    </div>

</body>

</html>